# Project Group - 

Members: Flip Boekhorst, Sjoerd Norbart, Timo van Manen, Justin Plasmeijer, 
Fariba Tavakoli

Student numbers: 4694880, 4700139,

# Research Objective

*Requires data modeling and quantitative research in Transport, Infrastructure & Logistics*

How does the urbanization of a region affect the distance traveled by a mode of transport?

How does the urbanization of a region affect mobility patterns?

# Contribution Statement

*Be specific. Some of the tasks can be coding (expect everyone to do this), background research, conceptualisation, visualisation, data analysis, data modelling*

-	distance traveled versus amount of trips
-	distance traveled per mode of transport
-	amount of trips per mode of transport
-	distance traveled per motive
-	amount of trips per motive

# Data Used

We only focus on pre-corona data before march 2020 in the Netherlands. Datasets we might use:
●	https://opendata.cbs.nl/statline/portal.html?_la=en&_catalog=CBS&tableId=84710ENG&_theme=1159

# Data Pipeline

In [3]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import numpy as np
import plotly.io as pio
import matplotlib.pyplot as plt

In [8]:
file_path = 'C:\\Users\\jplasmei\\TIL6022-LabAssignments\\per_person__travel_modes__travel_purpose_12102022_104624.csv'
df = pd.read_csv(file_path, delimiter=';', encoding='Windows-1252') 
df

,"ï»¿""Travel motives""",Population,Travel modes,Margins,Region characteristics,Periods,Average per person per day/Trips (number),Average per person per day/Distance travelled (passenger kilometres ),Average per person per year/Trips (number),Average per person per year/Distance travelled (passenger kilometres )
0,Total,Population 6 years or older,Total,Value,The Netherlands,2018,2.78,36.16,1015,13200
1,Total,Population 6 years or older,Total,Value,The Netherlands,2019,2.71,36.00,989,13140
2,Total,Population 6 years or older,Total,Value,The Netherlands,2020,2.35,24.88,861,9105
3,Total,Population 6 years or older,Total,Value,The Netherlands,2021,2.51,27.24,915,9942
4,Total,Population 6 years or older,Total,Value,Extremely urbanised,2018,2.70,32.66,987,11922
...,...,...,...,...,...,...,...,...,...,...
1003,Attending education/courses,Population 6 years or older,Walking,Value,Hardly urbanised,2021,0.02,0.02,6,8
1004,Attending education/courses,Population 6 years or older,Walking,Value,Not urbanised,2018,0.02,0.03,9,10
1005,Attending education/courses,Population 6 years or older,Walking,Value,Not urbanised,2019,.,.,.,.
1006,Attending education/courses,Population 6 years or older,Walking,Value,Not urbanised,2020,.,.,.,.
1007,Attending education/courses,Population 6 years or older,Walking,Value,Not urbanised,2021,.,.,.,.

In [ ]:
import chardet
with open(file_path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [11]:
df.info

<bound method DataFrame.info of               ï»¿"Travel motives"                   Population Travel modes  \
0                           Total  Population 6 years or older        Total
1                           Total  Population 6 years or older        Total
2                           Total  Population 6 years or older        Total
3                           Total  Population 6 years or older        Total
4                           Total  Population 6 years or older        Total
...                           ...                          ...          ...
1003  Attending education/courses  Population 6 years or older      Walking
1004  Attending education/courses  Population 6 years or older      Walking
1005  Attending education/courses  Population 6 years or older      Walking
1006  Attending education/courses  Population 6 years or older      Walking
1007  Attending education/courses  Population 6 years or older      Walking

     Margins Region characteristics  Periods  \
0      Value        The Netherlands     2018
1      Value        The Netherlands     2019
2      Value        The Netherlands     2020
3      Value        The Netherlands     2021
4      Value    Extremely urbanised     2018
...      ...                    ...      ...
1003   Value       Hardly urbanised     2021
1004   Value          Not urbanised     2018
1005   Value          Not urbanised     2019
1006   Value          Not urbanised     2020
1007   Value          Not urbanised     2021

     Average per person per day/Trips (number)  \
0                                         2.78
1                                         2.71
2                                         2.35
3                                         2.51
4                                         2.70
...                                        ...
1003                                      0.02
1004                                      0.02
1005                                         .
1006                                         .
1007                                         .

     Average per person per day/Distance travelled                       (passenger kilometres )  \
0                                                 36.16
1                                                 36.00
2                                                 24.88
3                                                 27.24
4                                                 32.66
...                                                 ...
1003                                               0.02
1004                                               0.03
1005                                                  .
1006                                                  .
1007                                                  .

     Average per person per year/Trips (number)  \
0                                          1015
1                                           989
2                                           861
3                                           915
4                                           987
...                                         ...
1003                                          6
1004                                          9
1005                                          .
1006                                          .
1007                                          .

     Average per person per year/Distance travelled    (passenger kilometres )
0                                                 13200
1                                                 13140
2                                                  9105
3                                                  9942
4                                                 11922
...                                                 ...
1003                                                  8
1004                                                 10
1005                                                  .
1006                                                  .
1007                                                  .

[1008 rows x 10 columns]>

Questions:
●	We have some difficulties with finding a nice data set that fits our research question. We came up with some data files that provide us some of the data, but not all of it. Could you maybe provide more datasets? Maybe for other countries?